@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "./colors.css";
@import "./antd.css";

@theme{
    --color-dark-indigo: #08213f;
	--color-gray-cyan: #547b92;
	--color-background: #0a0a0a;
	--color-neutral: #ededed;
	--color-gray: #b4b4b4;
	--color-indigo-blue-gradient: var(--indigo-blue-gradient);
	--color-danger: var(--danger)
}

* {
	font-family: 'Raleway', sans-serif;
}

body {
	max-width: 1920px;
	margin: 0 auto;
	background-color: var(--dark-indigo);
}